/* Avatar: the Last Airbender Game Theme Styling*/
.atlaBody {
    background-image: url("../backgrounds/atlaMap.png") !important;
    background-size: 110%;
    background-position: center;
  }
  .atlaAir {
    color: #ffc400 !important;
    text-shadow: -1px -1px 0 #2d160bef, 1px -1px 0 #2d160bef, -1px 1px 0 #2d160bef, 1px 1px 0 #2d160bef;
    background-image: url("../backgrounds/air.png") !important;
    background-position: 0%;
    background-size: cover;
    border: 2px solid #bc9513 !important;
  }
  .atlaFire {
    color: #fff !important;
    text-shadow: -1px -1px 0 #2d160bef, 1px -1px 0 #2d160bef, -1px 1px 0 #2d160bef, 1px 1px 0 #2d160bef;
    background-image: url("../backgrounds/fire.png") !important;
    background-position: 100%;
    background-size: cover;
    border: 2px solid #961118 !important;
  }
  .atlaEarth {
    color: #fff !important;
    text-shadow: -1px -1px 0 #2d160bef, 1px -1px 0 #2d160bef, -1px 1px 0 #2d160bef, 1px 1px 0 #2d160bef;
    background-image: url("../backgrounds/earth.png") !important;
    background-position: 100%;
    background-size: cover;
    border: 2px solid #1d5a0b !important;
  }
  .atlaWater {
    color: #02b5f6 !important;
    text-shadow: -1px -1px 0 #2d160bef, 1px -1px 0 #2d160bef, -1px 1px 0 #2d160bef, 1px 1px 0 #2d160bef;
    background-image: url("../backgrounds/water.png") !important;
    background-position: 100%;
    background-size: cover;
    border: 2px solid #0b3a5a !important;
  }
  .atlaCards .atlaCard .atlaCardFace {
    background-image: url("../backgrounds/papertexture.jpg") !important;
    background-position: cover;
    box-shadow: -1px 10px 27px -16px rgba(0,0,0,0.7);
  }
  .atlaDetails, .atlaMatchDetails {
    background-image: url("../backgrounds/papertexture.jpg") !important;
    background-position: cover;
    border: 2px solid #7B6846 !important;
  }
  .atlaDetails button:hover, .atlaMatchDetails button:hover, {
    color: #CEB08A !important;
    background: #313021 !important;
    border: 2px solid #313021 !important;
  }
  .atlaMatchDetails button{
    color: #313021 !important;
    background: transparent !important;
    border: 2px solid #313021 !important;
  }
  .atlaGameboard, .atlaDetailContainer {
    background: #313021 !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1) !important;
    border: 4px solid #7B6846 !important;
  }
  .atlaText {
    color: #000 !important;
  }
  .atlaTitle {
    color: #ece6dd !important;
    text-shadow: -1px -1px 0 #2d160bef, 1px -1px 0 #2d160bef, -1px 1px 0 #2d160bef, 1px 1px 0 #2d160bef;
  }