/* Gems Game Theme Styling*/
.gemsBody {
    background: #6563ff;
  }
  .gemsDifficulty {
    background: #6563ff;
  }
  .gemsTheme {
    background: #6563ff;
  }
  .gemsCards .gemsCard .gemsCardFace {
    background: #fff !Important;
  }
  .gemsDetails, .gemsMatchDetails {
    background: #fff !Important;
    border: 2px solid transparent !important;
  }
  .gemsDetails button:hover, .gemsMatchDetails button:hover {
    color: #fff;
    background: #6563ff;
  }
  .gemsMatchDetails button {
    color: #6563ff;
    background: #fff;
    border: 2px solid #6563ff;
  }
  .gemsDifficulty:hover, .gemsDifficulty:active {
    color: #6563ff;
    background: #fff;
  }
  .gemsTheme:hover, .gemsTheme:active {
    color: #6563ff;
    background: #fff;
  }
  .gemsGameboard, .introboard, .gemsDetailContainer {
    border: 4px solid transparent !important;
  }